
.main-navigation{position:fixed;}
ul:before,ul:after {
  content: " ";
  display: table; 
}

ul:after { clear: both; }

ul ul ul {
  left: 100%;
  top: 0;
}

li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }
li:hover a { background: #1bc2a2; }
li:hover li a:hover { background: #2c3e50; }
.main-navigation li ul li { border-top: 0; }

li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  
}


ul li a:hover { background: red; }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #010101;
  z-index: 9;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #010101;
}
.but{
  display: block;
  position: relative;
  float: left;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  background: #010101;
  color: white;
}

.but:hover { background: red; }

.form-popup {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9;
}
.form{
	width:300;
	border:2px solid #ccc;
	background: #010101;
	color: white;
}

